<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-group files">
        <label>Upload Your File </label>
        <input type="file" name="file" [(ngModel)]="data" (change)="newFile($event)">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">
      <div *ngIf="headers" class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <th *ngFor="let header of headers">{{ toKebab(header) | titlecase }}</th>
          </thead>
          <tbody *ngIf="jsonFile">
            <tr *ngFor="let item of jsonFile">
              <td *ngFor="let header of headers">{{ item[header] }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="error !== ''" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p>{{ error }}</p>
        Follow this format: <br>
        <pre>
          <code [innerHTML]="format"></code>
        </pre>
      </div>
    </div>
  </div>
</div>
